<div class="mainHeader"> <!-- MAIN HEADER -->
    <img src="images/DECABanner.jpg" alt="Digital Inclusion banner" class="decaBanner">
    <div class="loginContainer">
        <div class="loginButton">LOGIN</div>
    </div>
</div> <!-- MAIN HEADER -->

<div class="secondHeader"> <!-- SECOND HEADER -->
    <div class="homeLinkContainer secondHeaderLink">
        <a href="/">
            HOME
        </a>
    </div>
    <div class="labProfilesLinkContainer secondHeaderLink">
        <a href="/locationInventory.html">
            LAB PROFILES
        </a>
    </div>
    <div class="storytellingProfilesLinkContainer secondHeaderLink">
        <a href="/storytelling">
            STORYTELLING
        </a>
    </div>
</div> <!-- SECOND HEADER -->