.simple-form {
    padding-left: 15px;
}

#locationFields {
    width: 50%;
    float: left;
}

#programs {
    width: 50%;
    float: left;
    padding-top: 10px;
}

#programs .programSummary {
    background-color: #EEEEEE;
    padding: 5px;
    border: black 1px solid;
    border-radius: 6px;
}

#programs .programsHeader {
    text-align: center;
}

.addProgramButton {
    margin-bottom: 10px;
}

.fieldLabel {
    padding-top: 10px;
}

.fieldInput {
    border-color: #005581;
    border-radius: 8px;
    border-width: 1px;
}

.submitButton {
    margin-top: 50px;
}
