body {
    font-family:arial;
    padding:0;
}

.logoLink {
    height: 70px;
}

.logo {
    height: 70px;
}

.title {
    display: inline;
    font-size: 35px;
    line-height: 35px;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    max-width: 70%;
}

.verticalBanner {
  position:absolute;
  top:0;
  left:100px;
  background-color:#27AAE0;
}

#bodyTitle {
    display: inline-block;
    color: #005581;
    font: arial;
    font-size: 35px;
    line-height: 35px;
    float: left;
    padding-top: 25px;
    padding-left: 35px;
}

#bodyText1 {
    display:inline-block;
    color: #005581;
    font: arial;
    font-size: 14px;
    line-height: 25px;
    padding-left: 35px;
}

.introParagraph{
    display:inline-block;
    vertical-align: top;
    float:left;
}

.imgContainer{
    display:inline-block;
    vertical-align: top;   
    float:right;       
}

.simple-form {
    padding-left: 15px;
}

#locationFields {
    width: 50%;
    float: left;
}

#programFields {
    width: 50%;
    float: left;
}

.fieldLabel {
    padding-top: 10px;
}

.fieldInput {
    border-color: #005581;
    border-radius: 8px;
    border-width: 1px;
}

.submitButton {
    margin-top: 50px;
}